In [149]:
import pandas as pd

In [150]:
#df = pd.read_csv('oscars_df.csv',index_col='Film')
df = pd.read_csv('oscars_df.csv')

In [151]:
df.at[563,'Award']='Winner'

In [152]:
df.tail(10)

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Status,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID
561,561,Marriage Story,2019,Noah Baumbach and David Heyman,Nominee,2019,137,"Comedy,Drama,Romance",7.9,"270,304",...,Certified-Fresh,94.0,381.0,NaN,85.0,184.0,48.0,359.0,22.0,4dfbadb9-b7f9-4c24-bbd8-5d55dce2c7c6
562,562,Once Upon a Time in Hollywood,2019,"David Heyman, Shannon McIntosh, and Quentin Ta...",Nominee,2019,161,"Comedy,Drama",7.6,"628,233",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80060b63-3c4c-42c3-ab4f-4efee21776bd
563,563,Nomadland,2020,"Frances McDormand, Peter Spears, Mollye Asher,...",Winner,2020,107,Drama,7.4,"123,041",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f04508ab-e957-49aa-908e-c1286123a493
564,564,The Father,2020,"David Parfitt, Jean-Louis Livi, and Philippe C...",Nominee,2020,97,Drama,8.3,"89,693",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73e858b2-7b6e-48b4-80d6-960a992961f5
565,565,Judas and the Black Messiah,2020,"Shaka King, Charles D. King, and Ryan Coogler",Nominee,2021,126,"Biography,Drama,History",7.5,"58,996",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cf55544c-fcaa-4b26-9773-52be27359d6f
566,566,Mank,2020,"Ceán Chaffin, Eric Roth, and Douglas Urbanski",Nominee,2020,131,"Biography,Comedy,Drama",6.9,"65,380",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47d4ae4f-e782-4cd9-9508-4a07302b1c1a
567,567,Minari,2020,Christina Oh,Nominee,2020,115,Drama,7.5,"57,976",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7262b3a8-214d-4205-985c-70e0860f3236
568,568,Promising Young Woman,2020,"Ben Browning, Ashley Fox, Emerald Fennell, and...",Nominee,2020,113,"Crime,Drama,Thriller",7.5,"122,269",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d64c669b-7a73-496a-bddb-19cb09264371
569,569,Sound of Metal,2020,Bert Hamelinck and Sacha Ben Harroche,Nominee,2019,120,"Drama,Music",7.8,"102,807",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,647357e9-c067-46bd-aaeb-24d4344ec124
570,570,The Trial of the Chicago 7,2020,Marc Platt and Stuart M. Besser,Nominee,2020,129,"Drama,History,Thriller",7.8,"156,283",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cecbca48-f19c-43f4-81d2-da130facda95

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        571 non-null    int64
 1   Film                              571 non-null    object
 2   Oscar Year                        571 non-null    object
 3   Film Studio/Producer(s)           571 non-null    object
 4   Award                             571 non-null    object
 5   Year of Release                   571 non-null    int64
 6   Movie Time                        571 non-null    int64
 7   Movie Genre                       571 non-null    object
 8   IMDB Rating                       571 non-null    float64
 9   IMDB Votes                        571 non-null    object
 10  Movie Info                        438 non-null    object
 11  Genres                            439 non-null    object
 12  Critic Consensus                  339 non-null    object
 13  Content Rating                    439 non-null    object
 14  Directors                         437 non-null    object
 15  Authors                           437 non-null    object
 16  Actors                            439 non-null    object
 17  Original Release Date             439 non-null    object
 18  Streaming Release Date            438 non-null    object
 19  Production Company                439 non-null    object
 20  Tomatometer Status                439 non-null    object
 21  Tomatometer Rating                439 non-null    float64
 22  Tomatometer Count                 439 non-null    float64
 23  Audience Status                   436 non-null    object
 24  Audience Rating                   439 non-null    float64
 25  Audience Count                    439 non-null    float64
 26  Tomatometer Top Critics Count     439 non-null    float64
 27  Tomatometer Fresh Critics Count   439 non-null    float64
 28  Tomatometer Rotten Critics Count  439 non-null    float64
 29  Film ID                           571 non-null    object
dtypes: float64(8), int64(3), object(19)
memory usage: 134.0+ KB

In [154]:
df['Directors'].value_counts()

William Wyler          11
Martin Scorsese         8
Steven Spielberg        8
George Stevens          7
Sam Wood                6
                       ..
Howard Hawks            1
Alexander Hall          1
Randa Haines            1
Bernardo Bertolucci     1
Noah Baumbach           1
Name: Directors, Length: 262, dtype: int64

In [155]:
filtwin = (df['Award']=='Winner')

In [156]:
filtnom = (df['Award']=='Nominee')

In [157]:
df.loc[filtwin,'IMDB Rating']

0      7.5
3      5.7
8      8.1
13     5.9
18     7.4
      ...
528    7.4
537    7.3
546    8.2
554    8.6
563    7.4
Name: IMDB Rating, Length: 94, dtype: float64

In [158]:
nom_rating = df.loc[filtnom,'IMDB Rating']
win_rating = df.loc[filtwin,'IMDB Rating']

In [159]:
pd.DataFrame.mean(nom_rating)

7.529140461215933

In [160]:
pd.DataFrame.mean(win_rating)

7.779787234042553

In [161]:
nom_length = df.loc[filtnom,'Movie Time']
win_length = df.loc[filtwin,'Movie Time']

In [162]:
pd.DataFrame.mean(nom_length)

122.25995807127883

In [163]:
pd.DataFrame.mean(win_length)

138.2659574468085

In [164]:
nom_directors = df.loc[filtnom,'Directors']
win_directors = df.loc[filtwin,'Directors']

In [165]:
nom_directors.value_counts()

William Wyler            8
Steven Spielberg         7
Martin Scorsese          7
George Stevens           7
Sam Wood                 6
                        ..
Peter Bogdanovich        1
Franklin J. Schaffner    1
John Boorman             1
George Lucas             1
Noah Baumbach            1
Name: Directors, Length: 232, dtype: int64

In [166]:
win_directors.value_counts()

William Wyler        3
Fred Zinnemann       2
Vincente Minnelli    2
Elia Kazan           2
Billy Wilder         2
                    ..
George Roy Hill      1
Harry Beaumont       1
Woody Allen          1
Michael Cimino       1
Peter Farrelly       1
Name: Directors, Length: 71, dtype: int64

In [168]:
nom_genre = df.loc[filtnom,'Movie Genre']
win_genre = df.loc[filtwin,'Movie Genre']

In [169]:
win_genre.value_counts()

Drama                        11
Biography,Drama,History       8
Drama,Romance,War             7
Drama,Romance                 6
Crime,Drama,Thriller          5
Comedy,Drama,Romance          3
Drama,War                     3
Drama,Western                 2
Drama,Family,Musical          2
Drama,Musical,Romance         2
Action,Adventure,Drama        2
Crime,Drama                   2
Drama,Film-Noir               2
Comedy,Drama                  2
Adventure,Drama,History       2
Biography,Drama               2
Drama,Sport                   2
Adventure,Biography,Drama     2
Comedy,Romance                2
Biography,Drama,Sport         1
Biography,Drama,Romance       1
Comedy,Crime,Musical          1
Adventure,Drama,Western       1
Comedy,Drama,History          1
Drama,Thriller,War            1
Biography,Drama,Thriller      1
Biography,Crime,Drama         1
Adventure,Drama,Fantasy       1
Biography,Comedy,Drama        1
Comedy,Crime,Drama            1
Adventure,Comedy,History      1
Action,Crime,Drama            1
Biography,Drama,War           1
Crime,Drama,Mystery           1
Biography,Drama,Family        1
Crime,Drama,Musical           1
Comedy,Musical,Romance        1
Adventure,Drama,War           1
Adventure,Comedy,Family       1
Drama,Family,Romance          1
Comedy,Drama,Music            1
Drama,Family                  1
Drama,Mystery,Romance         1
Drama,History,Romance         1
Biography,Drama,Musical       1
Comedy,Drama,Thriller         1
Name: Movie Genre, dtype: int64

In [170]:
nom_genre.value_counts()

Drama,Romance               56
Drama                       39
Comedy,Drama,Romance        30
Biography,Drama,History     27
Comedy,Drama                19
                            ..
Adventure,Comedy,Family      1
Action,Crime,Romance         1
Adventure,Comedy,Musical     1
Crime,Drama,Sci-Fi           1
Biography,Comdey,Drama       1
Name: Movie Genre, Length: 124, dtype: int64